<%- include('../partials/header') %>

    <main>
        <div class="all-anime-list">
            <% animes.forEach(function(ani) { %>
                <div class="all-anime-item">
                    <div class="all-anime-details">
                        <p class="all-anime-title">
                            <%= ani.title %>
                        </p>
                        <div class="all-anime-image">
                            <p><img src="<%= ani.image %>" alt="<%= ani.title %> Image"></p>
                        </div>
                        <p class="all-anime-info">
                            <span class="all-info-label">Season:</span>
                            <span class="all-info-value">
                                <%= ani.releaseSeason %>
                            </span>
                        </p>
                        <p class="all-anime-info">
                            <span class="all-info-label">Release Year:</span>
                            <span class="all-info-value">
                                <%= ani.releaseYear %>
                            </span>
                        </p>
                        <p class="all-anime-info">
                            <span class="all-info-label">Genre:</span>
                            <span class="all-info-value">
                                <%= ani.genre %>
                            </span>
                        </p>
                        <p class="all-anime-info">
                            <span class="all-info-label">Currently Airing:</span>
                            <span class="all-info-value">
                                <%= ani.currentlyAiring ? 'Yes' : 'No' %>
                            </span>
                        </p>
                    </div>
                    <div class="all-anime-link">
                        <a href="/animes/<%= ani._id %>">DETAILS</a>
                    </div>
                </div>
                <% }); %>
        </div>
    </main>


    <%- include('../partials/footer') %>