<%- include('../partials/header') %>

<div class="container">

<section class="anime-details">
    <div class="title">Title:</div>
    <div class="anime-title"><%= anime.title %></div>
    <div class="contain">
        <div class="image">
            <img src="<%= anime.image %>" alt="">
        </div>
        <div class="synopsis">
            <div class="synopsis-title">Synopsis:</div>
            <div class="synopsis-content"><%= anime.synopsis %></div>
        </div>
    </div>
    <div class="type">Type: <%= anime.type %></div>
    <div class="release-date">Release Date: <%= anime.releaseSeason %> , <%= anime.releaseYear %></div>
    <div class="genre">Genre: <%= anime.genre %></div>
    <div class="episode-count">Episode Count: <%= anime.episodeCount %></div>
    <div class="rating">Rating: <%= anime.rating %></div>
    <div class="currently-airing">Currently Airing: <%= anime.currentlyAiring ? 'Yes' : 'No' %></div>
    <% if(user) { %>
        <form action="/animes/<%= anime._id %>" method="POST" class="add-to-list">
            <button type="submit" value="add">Add to My List</button>
        </form>
    <% } %>
</section>

<h2>Reviews</h2>
<% if (user) { %>
    <button id="openModalBtn">Add Review</button>

    <div id="myModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>Add Review: </h2>
            <form id="modalForm" method="POST" action="/animes/<%= anime._id %>/reviews">
                <label>Review:</label>
                <textarea name="content"></textarea>
                <label>Rating:</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10" selected>10</option>
                </select>
                <input type="submit">
            </form>
        </div>
    </div>
    <script>
        document.getElementById('openModalBtn').addEventListener('click', function () {
            document.getElementById('myModal').style.display = 'block';
        });

        document.getElementById('closeModalBtn').addEventListener('click', function () {
            document.getElementById('myModal').style.display = 'none';
        });

        document.getElementById('modalForm').addEventListener('submit', function (e) {
            document.getElementById('myModal').style.display = 'none';
        });
    </script>
<% } %>

<div class="reviews">
    <% if (anime.reviews.length) { %>
        <div class="review-table">
            <% let total = 0 %>
            <% anime.reviews.forEach(function(r) { %>
                <span>
                    <% total += r.rating %>
                </span>
                <div class="review">
                    <% if(user?._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST" class="delete-review">
                            <button type="submit">❌</button>
                        </form>
                    <% } %>
                    <div class="review-user">
                        <img src="<%= r.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
                        <div class="user-name"><%= r.userName %></div>
                    </div>
                    <div class="review-details">
                        <div class="review-date"><%= r.createdAt.toLocaleDateString() %></div>
                        <div class="review-content"><%= r.content %></div>
                        <div class="review-rating"><%= r.rating %></div>
                        <% if(user?._id.equals(r.user)) { %>
                            <button class="editReviewBtn" data-modal-id="<%= r._id %>">EDIT</button>

                            <div class="editModal modal" data-modal-id="<%= r._id %>" style="display: none;">
                                <div class="modal-content">
                                    <span class="close closeEditModalBtn">&times;</span>
                                    <h2>Edit Review: </h2>
                                    <form class="editModalForm" action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                                        <label>Review:</label>
                                        <textarea name="content"><%= r.content %></textarea>
                                        <label>Rating:</label>
                                        <select name="rating">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10" selected>10</option>
                                        </select>
                                        <input type="submit">
                                    </form>
                                </div>
                            </div>
                            <script>
                                document.querySelectorAll('.editReviewBtn').forEach(function(btn) {
                                        const modalId = btn.getAttribute('data-modal-id');
                                        
                                        btn.addEventListener('click', function() {
                                            document.querySelector(`.editModal[data-modal-id="${modalId}"]`).style.display = 'block';
                                        });
                                    });

                                    document.querySelectorAll('.closeEditModalBtn').forEach(function(btn) {
                                        const modalId = btn.closest('.editModal').getAttribute('data-modal-id');

                                        btn.addEventListener('click', function() {
                                            document.querySelector(`.editModal[data-modal-id="${modalId}"]`).style.display = 'none';
                                        });
                                    });

                                    document.querySelectorAll('.editModalForm').forEach(function(form) {
                                        form.addEventListener('submit', function(e) {
                                        
                                            const modalId = form.closest('.editModal').getAttribute('data-modal-id');
                                            document.querySelector(`.editModal[data-modal-id="${modalId}"]`).style.display = 'none';
                                    });
                                });
                            </script>
                        <% } %>
                    </div>
                </div>
            <% }); %>
            <div class="average-rating">
                <div class="average-rating-label">Average Rating:</div>
                <div class="average-rating-value"><strong><%= (total/anime.reviews.length).toFixed(1) %></strong></div>
            </div>
        </div>
    <% } else { %>
        <h4>No Reviews Yet</h4>
    <% } %>
</div>


</div>

<%- include('../partials/footer') %>
